body {
    /* overflow: hidden; */
}

header {
  position: inline; 
  z-index: 999; 
  height:25vh;
  padding:12px;
}

#container {
  margin: 10px;
  /* border: red solid 2px; */
}

.scattered img {
    width: 340px;
    height:auto;
}

.organize {
  position:fixed;
  background-color: #f075dd;
  color:white;
  font-size: 1rem;
  padding:10px;
  border-radius: 20px;
  margin:20px;
  transition:ease-in-out 0.75s;
}

.organize:hover {
  cursor:pointer;
  background-color: white;
  color:#f075dd;
}

.masonry {
  top:25%;
  column-count: 4;
  column-gap: 12px;
  padding: 5px;
}

.masonry img {
  width: 100%; /* Make images fill the columns */
  height: auto;
  margin-bottom: 12px;
}

img {
  max-width: 100%;
  display: block;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}